h2{
	font-family: cursive;
	font-size: 70px;
}

button{
	height: 80px;
	width: 15%;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin: 20px;
	text-align: center;
	border: 0px;
}

button:hover{
	opacity: 70%;
}

.bomboclat{
	border: 2px solid black;
	height: 80px;
	width: 15%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

#resultado{
	text-align: center;
	font-family: cursive;
	font-size: 40px;
}

.facil{
	background-color: lightgreen;
}

.medio{
	background-color: #FEDB39;
}

.dificil{
	background-color: #D61C4E;
}

.tentar{
	background-color: #1CD6CE;
}
