h1{
	text-align: center;
	font-size: 70px;
	margin-top: 30px;
}
#chatsolucao {
  position: relative;
  width: 700px;
  height: 500px;
  margin: 50px auto;
}

#area{
	position: relative;
  width: 700px;
  height: 500px;
  background: #eee;
  border: 2px solid #aaa;
  overflow: hidden;
  margin: 50px auto;
}

#start {
	background-color: #293462;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	transition: font-size 0.5s ease;
	font-size: 30px;
}

#start:hover{
	font-size: 31.5px;
}

#user{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #1CD6CE;
	bottom: 0;
	left: 325px;
}

.enemy{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: none;
	overflow: visible;
}

.virus{
	width: 120%;
	height: 120%;
	object-fit: cover;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}

#start{
	display: block;
	margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

#restart{
	height: 40px;
	width: 120px;
	font-size: 15px;
	font-weight: bolder;
	background-color: #FEDB39;
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 15px;
	position: relative;
}

#restart:hover{
	animation-name: sobdes;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 0.3s;
	animation-timing-function: linear;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 500px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.esconder {
  display: none;
}


@keyframes sobdes {
	from {top: 0px;}
	to {top: 5px;}
}