*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* TEMPORARY */
}
.barra{
	display: flex;
	flex-wrap: wrap;
	background-color: #293462;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.nave{
	margin-left: auto;
	padding-right: 50px;

}
.nave a{
text-decoration: none;
  color: blanchedalmond;
}

.nave a.active {
	border-bottom: 2px solid blanchedalmond;
	opacity: 60%;
	font-size: 18px;
	pointer-events: none;
}

.nave li{
	list-style-type: none;
	float: left;
	text-align: center;
	font-size: 18px;
	margin-left: 50px;
	transition: font-size 0.3s ease;
 
}

.nave li:hover{
	font-size: 20px;
}

.topo{
	display: flex;
  align-items: center;
  gap: 10px;
}
.topo .logo{
	width: 80px;
	height: auto;
}

.topo .logtex {
	padding-top: 20px;
	width: 200px;
	height: auto;
}
/* ADAPTAR A TELEMOVEIS */
@media (max-width: 768px) {
	.barra {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
	}
	
	.nave {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
	}

	.topo {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
	}

	.topo .logtex {
    width: 150px;
	}

}


.sobrenos{

	text-align: center;

	font-family: cursive;

	font-size: 30px;

	padding: 30px;

}
 
.banner{
	width: 100%;
	height: auto;
	border: 2px solid black;
}
 
.ppt{

	text-align: center;

	font-family: cursive;

}
 
 
.obst{

	text-align: center;

	font-family: cursive;

}
 
 
.adnr{

	text-align: center;

	font-family: cursive;

}
 
a{

	text-decoration: none;

}

.jtb{
	text-align: left;
}

.mjn{
	text-align: left;
}


