*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
  box-sizing: border-box;
}


html, body {
  overflow-x: hidden; /* TEMPORARY */
}
.barra{
	display: flex;
	flex-wrap: wrap;
	background-color: #556fdb;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

.nave{
	margin-left: auto;
	padding-right: 50px;

}
.nave a{
text-decoration: none;
  color: blanchedalmond;
}

.nave a.active {
	border-bottom: 2px solid blanchedalmond;
	opacity: 60%;
	font-size: 18px;
	pointer-events: none;
}

.nave li{
	list-style-type: none;
	float: left;
	text-align: center;
	font-size: 18px;
	margin-left: 50px;
	transition: font-size 0.3s ease;
 
}

.nave li:hover{
	font-size: 20px;
}

.topo{
	display: flex;
  align-items: center;
  gap: 10px;
}
.topo .logo{
	width: 80px;
	height: auto;
}

.topo .logtex {
	padding-top: 20px;
	width: 200px;
	height: auto;
}

@media (max-width: 768px) {
	.barra {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
	}
	
	.nave {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
	}

	.topo {
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
	}

	.topo .logtex {
    width: 150px;
	}

}

/* ------------------------------------------------------
o que está acima desta linha é a estilização do cabecalho. 
o que está abaixo já é referente à estilização dos 
menus (inicial, jogos e sobrenos) 
---------------------------------------------------------
*/

a{
	text-decoration: none;
}

/* faz parte do menu inicial------------------------------*/
.banner{
	margin-top: 50px;
	width: 100%;
	height: auto;
	border: 2px solid black;

}

.welcome{
	text-align: center;
	color: #293462;
	font-size: 55px;
	padding-top: 50px;
}

.intro{
	text-align: center;
	color: white;
	width: 80%;
	font-size: 30px;
	background-color: #293462;
	height: 300px;
	margin-top: 50px;
	border-radius: 10px 10px 10px 10px;
	padding-right: 20px;
	padding-left: 20px;
}



.intro p{
	padding-top: 20px;
	padding-bottom: 20px;

}

.melhoras{
	text-align: center;
	color: #D61C4E;
	font-size: 80px;
	padding-top: 40px;
}


/* faz parte do menujogos.php -----------------------------*/ 
.ppt{
	text-align: center;
	border-radius: 10px;
	width: 80%;
	border: 5px solid #293462;
	height: 80px;
	color: white;
	background-color: #293462;	
}
 
.obst{
	text-align: center;
	border-radius: 10px;
	width: 80%;
	border: 5px solid #293462;
	height: 80px;
	color: black;
	background-color: #FEDB39;	
}

.adnr{
	text-align: center;
	border-radius: 10px:;
	width: 80%;
	border: 5px solid #293462;
	height: 80px;	
	background-color: #d61c4e;
}

/* faz parte do sobrenos ------------------------------------*/
.sobrenos{
	text-align: center;
	font-size: 30px;
}




iframe{
	width: 100%;
}

/* footer -------------------------------------------------------*/

.footer{
	background-color: #556fdb;
	width: 100%;
	align-items: center;
	height: 100px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.footer p{
	color: blanchedalmond;
	font-size: 30px;
}


.footer a{
	color: blanchedalmond;
}


.insta:hover{
	color: #293462;
}

.footer img{
	width: 70px;
	height: 70px;
	margin-left: 20px;

}


